.home-page{
  .bar-aiyaku{
    .bar-header-left{
      margin: 0 9px 0 0;
      font-size: 25px;
    }
    .icon.ion-android-search.placeholder-icon {
      font-size:20px;
    }
    .bar-header-right{
      margin: 0 0 0 10px;
      font-size: 25px;
    }
    form{
      width: 100%;
    }
  }
  .item-input-wrapper{
    background: #fff;
    border: 1px solid #dcdcdc;
    input{
      width: 100%;
      height: 28px;
    }
  }
  .has-badge{
    position: relative;
    .badge-aiyaku{
      width: 20px;
      height: 18px;
      position: absolute;
      top: 0;
      right: -3px;
      color: #fff;
      font-size: 10px;
      line-height: 12px;
      padding: 2px 3px 3px;
      background: #920019;
    }
  }

  /*home-slide*/
  .home-slide{
    ion-slide{
      text-align: center;
      width: 100%;
      img{
        width: 16rem;
        height: auto;
      }
    }
    .slider-pager{
      bottom: rem(18);
      .slider-pager-page{
        font-size: 8px;
      }
    }
  }

  /*home-recompro-detailmend*/
  .first-recommend{
    padding: rem(10) 0 0 0;
    .homeGap{
      height : 10px;
      background-color : #F4F4F4;
    }
    .head-recommend{

      .row{
        padding: 5px 0;
      }
      border-bottom: 1px solid #dedede;
      .title-recom{
        h2{
          margin: 0;
          color: #FF5F0F;
          font-size: rem(28);
        }
      }
      .recom-more{
        text-align: right;
        span{
          text-align: right;
          font-size: 16px;
          color: #555;
          a{
            color: #555;
            font-size: 16px;
            text-decoration: none;
          }
        }
      }
    }
    .month-cell-padding{
      padding-left : 10px;
    }
    .recomm-list{
      width: 4.9rem;
      height: 8.6rem;
      border: 1px solid #D4D4D4;
      overflow: hidden;
      .recommend-item{
        .imgbox {
          height: 4.9rem;
          img {
            width: 100%;
            height: 4.9rem;
          }
        }
      }
    }
    .pro-detail{
      padding: 7px 0;
      text-align: left;
      color: #252525;
      p.pro-name{
        padding: 0 2px;
        margin: 0 0 3px 0;
        font-size: rem(22);
        height:rem(80);
      }
      .pro-price{
        height:rem(30);
        overflow: hidden;
        .discount-pri{
          color:#FF5F0F;
          font-size: rem(22);
          line-height:rem(30);
          margin-left:3px;
          .discount-priName{
            font-size:rem(30);
          }
        }
        .isYcInquiry{
          padding: 0 5px;
        }
        .fact-pri{
          color: #919191;
          font-size: rem(22);
          text-decoration: line-through;
          line-height:rem(30);
        }
      }
    }

  }

  .floor-head{
    padding: 0 10px;
    .row-line{
      border-bottom: 1px solid #dedede;
      padding-left: 0;
      .col{
        padding: 0;
      }
      .img-icon{
        span{
          width:46px;
          height:26px;
          display: inline-block;
        }

      }
      h3{
        color: #252525;
        margin: 0;
        display: inline-block;
        font-size: 16px;
        vertical-align: super;
      }
      .floorTitle{
        margin :0px;
        margin-left: 10px;
        font-size: rem(28);
      }
      .head1{
        i:before{
          content: "\e628";
          color:#ff5f0f;
        }
      }
      .head2{
        i:before{
          content: "\e627";
          color:#ff5f0f;
        }
      }
      .head3{
        i:before{
          content: "\e626";
          color:#ff5f0f;
        }
      }
      .head4{
        i:before{
          content: "\e625";
          color:#ff5f0f;
        }
      }
      .head5{
        i:before{
          content: "\e624";
          color:#ff5f0f;
        }
      }
      .head6{
        i:before{
          content: "\e623";
          color:#ff5f0f;
        }
      }
      .head7{
        i:before{
          content: "\e622";
          color:#ff5f0f;
        }
      }
      .head8{
        i:before{
          content: "\e621";
          color:#ff5f0f;
        }
      }
      .fl-more{
        text-align: right;
        span{
          color: #919191;
          font-size: rem(22);
        }
      }
    }
  }

  .floor-ad{
    padding: 0 10px;
    .row{
      padding: 5px 0;
    }
    .fl-slide{
      ion-slide{
        width: 100%;
        /*height: 7.46rem;*/
        img{
          width: 100%;
          height: auto;
        }
      }
      .slider-pager{
        bottom: rem(18);
        .slider-pager-page{
          font-size: 8px;
        }
      }
    }
    .ad-con{
      width: 100%;
      border-top: 1px solid #dedede;
      .fl-img{
       /* padding-top: 0.6rem;*/
        img{
          width: 100%;
          /*height: 2.85rem;*/
          height:auto;
        }
        text-align: center;
        border: 1px solid #dedede;
        border-top:0 none;
      }
    }
  }

  .pro-list{
    float:left;
    padding: 10px 3px;
    .list-con{
      border: 1px solid #dedede;
      .pro-item{
        width: 100%;
        height: 7.45rem;
        img{
          width: 100%;
          height: 7.45rem;
        }
      }
      .list-detail{
        padding: 7px 3px 3px;
        .list-name{
          height:34px;
          p.pro-name{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            color: #252525;
            font-size: rem(22);
            line-height: 16px;
            margin: 0 0 3px;
          }
        }

        .list-price{
          .dis-pri{
            color: #FF5F0F;
            font-size: rem(22);
            .dis-priName{
              font-size:rem(30);
            }
          }
          .fact-pri{
            color: #919191;
            font-size: rem(22);
            text-decoration: line-through;
            float: right;
            margin-right: 3px;
            .fact-priName{
              font-size:rem(22);
            }

          }
        }
      }
    }
  }

  .search-tips{
    padding: 20px 12px;
    h2{
      color: #FF5F0F;
      font-size: 16px;
      font-weight: 800;
      text-align: left;
      margin: 0;
    }
    .item-list{
      .list{
        .item{
          max-width: 350px;
          color: #252525;
          display: inline-block;
          padding: 10px 16px;
          margin: 10px 12px 0 0;
          font-size: 0.65rem;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }
        .keywordActive{
          color:#FF5F0F;
        }
      }
    }
  }
  .search-list{
    .list{
      .item{
        color: #484848;
        font-size: 15px;
      }
    }
  }

  .bar-footer {
    height: 50px;
    border: none;
    padding: 0;
  }
}
.commonBottom{
  width: 100%;
  line-height: 30px;
  float: left;
  text-align:center;
  margin-bottom: 20px;
  color: #919191;
}
.scrollTop{
  padding-top: 5px;
}
.scrollTop span{
  margin-top: -4px;
}
.tab-item .icon {
  line-height:35px;
  font-size: 24px;
}
.tabs-color-positive .tab-item {
  color: #7F7F7F;
}
