<ion-modal-view class="orderSearch">
  <div class="bar bar-header item-input-inset bar-stable">
    <label class="item-input-wrapper">
      <i class="icon ion-android-search placeholder-icon"></i>
      <input type="search" ng-model="keyValue" placeholder="订单搜索">
    </label>
    <button class="button button-clear" ng-click="closeOrderSearch()">
      <a class="button button-clear">取消</a>
    </button>
  </div>
  <ion-content class="has-header content">
    <div class="sub-content">
      <div class="content-header">
        <span class="searchRecord">搜索记录</span>
        <i class="ion-aiya icon-shanchu"></i>
      </div>
      <div>
        <span class="search-item">2016</span>
        <span class="search-item">0508</span>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
